.page{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(121,2,217,1) 100%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.text{
  font-size: 5vw;
  font-weight: 500;
  background: linear-gradient(180deg,#fff, #555);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}